@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* Datepicker styling */
.react-datepicker__day--selected {
  background-color: #af52de !important;
  color: white !important;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day:hover {
  background-color: #af52de !important;
  opacity: 0.8;
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #af52de !important;
  color: white !important;
}

/* Force white text color for selected date */
.react-datepicker__day.react-datepicker__day--selected {
  color: white !important;
}

.react-datepicker__day--today {
  color: #af52de !important;
  font-weight: bold;
}

.react-datepicker__day--today:hover {
  color: white !important;
}

.react-datepicker__day--selected.react-datepicker__day--outside-month {
  color: white !important;
}

/* Header styling */
.react-datepicker__header {
  background-color: #f3e6fb !important;
  border-bottom: 1px solid #f3e6fb !important;
}
/* End of datepicker styling */
